.navbar {
    position: relative; /* No longer sticking to the top */
    width: 100%;
    background-color: black; /* Solid black background */
    z-index: 999; /* Ensure it's on top of other elements */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbarMenu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbarMenu a {
    text-decoration: none;
    color: #fff; /* White text color */
    transition: color 0.3s ease;
}

.navbarMenu a.active {
    color: tomato; /* Active link color */
}

.navbar-right img {
    margin-right: 15px;
    cursor: pointer;
}

.logo {
    width: auto; 
    height: 60px; 
    margin-top: 10px;
    padding-left: 30px;
    cursor: pointer;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: tomato;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
}

.navbar-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar button {
    background-color: tomato;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar button:hover {
    background-color: darkred;
}
