.details {
    margin-top: 20px;
    left: 20%;
    width: 80%;
    padding-left: 10%;
}

.details img {
    width: 50%;
    height: 50%;
    position: relative;
    left: 20%;
}

.comments-section {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.comments-section h3 {
    margin-bottom: 15px;
    color: #333;
}

.comments-section div {
    margin-bottom: 10px;
}

.comments-section p {
    margin: 5px 0;
}

.comments-section textarea {
    margin-top: 5px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 14px;
}

.comments-section button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.comments-section button:hover {
    background-color: #29da4c;
}

.edit-button {
    background-color: #ff9800;
    color: white;
    margin-right: 10px;
}

.comment-buttons .edit-button:hover {
    background-color: #e68900;
}

.delete-button {
    background-color: #f44336;
    color: white;
}

.comment-buttons .delete-button:hover {
    background-color: #d32f2f;
}
